.Login.githubIcon {
  background-color: #0e0e0f  !important;


}
.Login.btnLogin {
  width: 250px !important;
  height: 50px;
}


#Login.gitIcon:hover {
  background-color: #0a0a0ae3 !important;
  
} 
  .login.body { /*Imagem de fundo da página*/ 
  background-image: url("../../assets/images/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    background-position: center;
  }
.Login.text-center, h4, .text-muted {
  color: rgb(11, 11, 11);
} /* Título da plataforma h4 */


.Login.card-title {
font-size: 10px;/*Card título*/

}

.Login.login-card p { /*Paragráfo*/
font-size: 20px;
}


.line { /*linha do meio, da página de login */
position: absolute;
top: 50%;
left: 50%;
width: 1px;
height: 50%;
background-color: #f8f2f2;
transform: translate(-50%, -50%);
}
.button-login { /*button login *//*Meche com todos os button*/
display: flex;
justify-content: center;
font-size: 14px;
padding: 10px 20px; 
display: inline-block;
margin-bottom: 20px;
text-align: center;
}
.login-card2 { /*Todo o Card */
float: right;
width: 400px; /* ajuste a largura do card conforme necessário */
margin-left: 600px; /* adicione uma margem à esquerda para separar o card do conteúdo principal */
position: absolute;
margin-top: 250px;
}
.login.mb-3 { /*redes Sociais*/
border: none; 
display: inline-block;
text-align: center;
font-size: 16px; 
}
.text-center1 { /*centralizar Logo */
display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  position: absolute;
}
.mb-3.ms-2.githubIcon.btnLogin { /*button do github */
background-color: #0e0e0f;
}
#button {
box-shadow: 0px 0px 0px 3px rgba(40, 167, 69, 0.25);
}
