.Login.githubIcon {
  border: none !important;
  background-color: #0e0e0f  !important;


}
.Login.btnLogin {
  width: 250px !important;
  border: none !important;
  height: 50px;
}


#Login.gitIcon:hover {
  background-color: #0a0a0ae3 !important;
  
} 
.login-wrapper { /*Imagem de fundo da página*/ 
  background-image: url("../../assets/images/Login.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }

.Login.text-center,
h4, 
.text-muted {
  color: rgb(11, 11, 11);
} /* Título da plataforma h4 */


.Login.card-title {
font-size: 10px;/*Card título*/

}

.Login.login-card p { /*Paragráfo*/
font-size: 20px;
}



.button-login { /*button login *//*Meche com todos os button*/
display: flex;
justify-content: center;
font-size: 14px;
padding: 10px 20px; 
display: inline-block;
margin-bottom: 20px;
text-align: center;
}
.login-card { /*Todo o Card */
width: 310px; /* ajuste a largura do card conforme necessário */
position: absolute;
top: 30%; /* Altere o valor aqui para mover o card para baixo */
left: -50%;
height: 70%;
transform: translate(-50%, -50%);
}
.login.mb-3 { /*redes Sociais*/
border: none; 
display: inline-block;
text-align: center;
font-size: 16px; 
}

.mb-3.ms-2.githubIcon.btnLogin { /*button do github */
background-color: #0e0e0f;
}
#button {
box-shadow: 0px 0px 0px 3px rgba(40, 167, 69, 0.25);
}
.login-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  position: relative;
  top: -23%;
}
